:local {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: greenyellow;

    .navbar {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 64px;
    }
  }
}
