:local {
    .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 15px 0;
        margin-top: 32px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        background-color: goldenrod;

        div {
            padding: 5px 0;
        }
    }
}